{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": ["airbnb-typescript"],
  "rules": {
    "@typescript-eslint/no-use-before-define": 0,
    "arrow-parens": 0,
    "global-require": 0,
    "implicit-arrow-linebreak": 0,
    "import/no-dynamic-require": 0,
    "import/prefer-default-export": 0,
    "no-confusing-arrow": 0,
    "no-unexpected-multiline": 0,
    "object-curly-newline": 0,
    "operator-linebreak": 0,
    "react/prop-types": 0
  }
}
