{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": ["airbnb-typescript"],
  "rules": {
    "implicit-arrow-linebreak": 0,
    "import/prefer-default-export": 0,
    "max-len": [2, { "code": 120 }],
    "react/prop-types": 0
  }
}
